{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-3 mt-5 manage-header">Beat Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="d-block d-md-none">
                        <div class="row">
                            <div class="col">
                                <h4 class="mt-4"><strong>Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'beats' %}" class="btn btn-outline-black rounded-2">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">More beats</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-black rounded-2">
                                    <span class="text-uppercase">Checkout</span>
                                </a>
                                <p class="text-muted mb-5">A summary of your beat bag is below</p>
                            </div>
                        </div>
                        {% for item in bag_items %}
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    {% if item.beat.image %}
                                    <img class="w-100 rounded-3" src="{{ item.beat.image.url }}" alt="{{ item.beat.name }}">
                                    {% else %}
                                    <img class="w-100 rounded-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.beat.name }}">
                                    {% endif %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    <div class="card-body audio-detail">
                                        <p><strong>{{ item.beat.name }}</strong></p>
                                    </div>
                                    
                                    <div class="card-body audio-detail">
                                        <audio src="{{ beat.file.url }}" class="mb-0" controls></audio>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-sm-6 order-sm-last">
                                    <p class="my-0">Price: €{{ item.beat.price }}</p>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a></p>
                                </div>
                            </div>
                            <div class="row"><div class="col"><hr></div></div>
                        {% endfor %}
                        <div class="btt-button">
                            <a class="btt-link d-flex h-100">
                                <i class="fas fa-arrow-up mx-auto my-auto"></i>
                            </a>	
                        </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            {% for item in bag_items %}
                            <thead class="text-black tex">
                                <tr>
                                    <th scope="col"><strong>{{ item.beat.name }}</strong></th>
                                    <th scope="col">Audio</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>

                            
                                <tr>
                                    <td class="mt-2 w-25">
                                        {% if item.beat.image %}
                                        <img class="w-100 rounded-3" src="{{ item.beat.image.url }}" alt="{{ item.beat.name }}">
                                        {% else %}
                                        <img class="w-100 rounded-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.beat.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <div class="col-12 col-sm-6 mb-2">
                                            <p><strong>{{ item.beat.name }}</strong></p>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.beat.price }}   <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a></p>
                                    </td>
                                    <td class="py-3 w-25">
                                        
                                        
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h4 class="mt-4"><strong>Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'beats' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your beat bag is empty</p>
                    <a href="{% url 'beats' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">More Beats</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
{% include 'beats/includes/quantity_input_script.html' %}

<script type="text/javascript">

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}