{% extends "base.html" %}
{% load static %}

{% block page_header %}
    
{% endblock %}

{% block content %}

    <div class="container-fluid index-main">
        <div class="row h-100">
            <div class="my-auto">
                <h1 class="display-4 logo-font index-header">
                    this is the FOB beat store
                </h1>
                <form method="GET" action="{% url 'beats' %}">
                    <div class="index-search">
                            <button class="index-icon" type="submit">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </button>
                            <input class="index-input" type="text" name="q" placeholder="Try 'Hip hop beat' or 'Slow style'?">
                    </div>
                </form>
                <div class="my-3">
                    <h4>
                        <a href="{% url 'beats' %}" class="btn btn-info text-uppercase">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
        <!--
            <section class="callout jumbotron jumbotron-main text-center">
            <h2 class="main-header d-none d-sm-inline text-uppercase">Beats for sale</h2><br><br>
                <a href="{% url 'beats' %}" class="btn btn-info">Shop Now</a>
            </section>
        -->
    </div>
    <div class="container about-container my-5">
        <section class="about">
            <div class="row">
                <h2 class="text-black">About</h2>
                <p>
                    FOB Beats
                </p>
            </div>
        </section>
    </div>
{% endblock %}