{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid index-main">
        <section class="callout jumbotron jumbotron-main text-center">
            <h2 class="main-header d-none d-sm-inline text-uppercase">Beats for sale</h2><br><br>
                <a href="{% url 'beats' %}" class="btn btn-info">Shop Now</a>
        </section>
    </div>
    <div class="container about-container my-5">
        <section class="about">
            <div class="row">
                <h2 class="text-black">About</h2>
                <p>
                    FOB Beats
                </p>
            </div>
        </section>
    </div>
{% endblock %}