@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Cairo', sans-serif;
}

/*------------------------------------------------------------------------------------------------ navber --*/

.nav-logo {
    width: 70%;
}

.nav-link {
    color: #0dcaf0;
}

.nav-link:visited,
.nav-link:hover,
.nav-link:active {
    color: #97ebfc;
}

.navbar-toggler {
    color: #0dcaf0;
    border: solid .125rem;
}

/* .container-fluid {
    background-color: #0dcaf0;
} */

.dropdown-menu {
    background-color: #292025;
    border: solid .063rem #0dcaf0;
}

.dropdown-menu a {
    color: #0dcaf0;
}

/*------------------------------------------------------------------------------------------------ index --*/

.index-header {
    font-weight: 500;
    color: white;
}

.index-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: black;
    height: 4.063rem;
}

.index-input {
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: white;
    color: #212529;
    height: 3.875rem;
}

.index-icon {
    font-size: 1.25rem;
	color: #777;
    background: white;
    border: none;
	outline: none;
    height: 3.875rem;
}

::placeholder {
    color: #212529;
  }


.index-main {
    height: 100vh;
    background: url('/media/fob_flower.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;    
    align-items:flex-end;
    justify-content: center;
    position: relative;
}

.about-hr {
    margin: auto;
    color: #2f2027;
}

.spotify {
    display: flex;
    justify-content: center;
}

.shop-about {
    display: flex;
    justify-content: center;
}

.shop-about a {
    color: #fdbcdd;
    font-weight: 600;
    background-color: #30202b;
    border: none;
}

.main-shop a {
    color: #30202b;
    font-weight: 600;
}

.about-container p {
    width: 80%;
    margin: auto;
}



/*------------------------------------------------------------------------------------------------ footer --*/

.container-wrapper-footer {
    background-color: #0dcaf0;
    text-align: center;
    padding-top: 2.25rem;
    padding-bottom: 1.625rem;
}    

.social-footer a {
    font-size: 3rem;
    color: #292025;
    padding-left: .625rem;
    padding-right: .625rem;
}

.footer-container h6 {
    color: #292025;
}

.footer-container p {
    color: #292025;
    font-size: 1rem;
    margin-bottom: 0;
}

/*------------------------------------------------------------------------------------------------ beats --*/

.page_headers {
    margin-bottom: 1.25rem;
    margin-top: .938rem;
}

.beats-card {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.beats-card img {
    width: 15rem;
    height: 12.5rem;
    object-fit: cover;
    border-radius: .625rem;
}

.beat-name {
    font-weight: 600;
}

.beat-name a {
    text-decoration: auto;
    color: #212529;
}

.beat-genre-btt {
    background-color: #d97db3;
    border-radius: .75rem;
    border: solid .063rem #292025;
    margin-bottom: 1.25rem;
}

.beat-genre-btt a {
    color: #292025;
    text-decoration: auto;
    font-weight: 600;
}


.row {
    --bs-gutter-x: 0;
}

/*------------------------------------------------------------------------------------------------ beat details --*/

.beat-detail {
    display: flex;
    justify-content: center;
}

.beat-detail img {
    width: 15rem;
    height: 12.5rem;
    object-fit: cover;
    border-radius: .625rem;
}

.audio-detail {
    display: flex;
    justify-content: center;
}

.beat-info {
    text-align: center;
}

.beat-qty {
    display: flex;
    justify-content: center;
}

.beat-price p {
    font-size: x-large;
}

.shop-options {
    text-align: center;
}

.qty_input {
    border-color: #fff;
    color: #fff;
}

.add-bag-btt {
    background-color: #292025;
}

/* ---------------------------------------------------------------------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 4.5rem;
    right: .938rem;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: .125rem;
    background-color: #0dcaf0;
}

.toast-header {
    justify-content: space-between;
    font-size: larger;
}

.toast-button {
    border: none;
    font-size: larger;
    background-color: #fff;
}

.toast-body {
    text-align: left;
    background-color: #fff;
}

.toast-img {
    display: flex;
    justify-content: left;
    border-radius: .625rem;
}

.toast-img img {
    width: 15rem;
    height: 3.75rem;
    object-fit: cover;
    border-radius: .313rem;
}

/* ---------------------------------------------------------------------------------------------- add beat */

.manage-header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.manage-form {
    display: flex;
    justify-content: center;
}

/* ---------------------------------------------------------------------------------------------- profile */

.accordion-button {
    background-color: #292025;
    color: #0dcaf0;
    font-size: larger;
}

.accordion-button:not(.collapsed) {
    background-color: #292025;
    color: #0dcaf0;
    font-size: larger;
}

/* ------------------------------------------------------------------------------------------------------- checkout success */

.beat-success {
    margin: auto;
    text-align: center;
    justify-content: center;
}

.success-text {
    display: flex;
    justify-content: center;
}

.success-text p {
    margin: auto;
    text-align: center;
    justify-content: center;
}

.beat-success img {
    border-radius: .938rem;
}

.card {
    border: none;
}

.card-beat {
    box-shadow: rgba(136, 165, 191, 0.48) .375rem .125rem 1rem 0, rgba(255, 255, 255, 0.8) -0.375rem -0.125rem -1rem 0;
    border-radius: 1.25rem;
    margin-left: .938rem;
    margin-right: .938rem;
}

.card-beat img {
    width: 15rem;
    height: 12.5rem;
    object-fit: cover;
    border-radius: .625rem;
}

.card-beat i {
    font-size: 1.25rem;
    color: #bb3a93;
}

.success-btn {
    display: flex;
    justify-content: center;
}

.success-return {
    display: flex;
    justify-content: center;
}

/*---------------------------------------------------------------*/

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: .063rem solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: .063rem solid black !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.genre-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 2.625rem;
    width: 2.625rem;
    position: fixed;
    bottom: .625rem;
    right: .625rem;
    border-radius: 1.25rem;
    background-color: #292025;
    z-index: 99999999999;
}

.btt-button i {
    color: #0dcaf0;
    font-size: 1.25rem;
}

.btt-button a {
    color: #292025;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.bag-notification-wrapper {
    height: 4.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.form-check {
    margin-top: 1.25rem;
}

.form-control {
    margin-top: .625rem;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: rgb(66, 66, 66);
    border-radius: .313rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: .063rem solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .625rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Beat Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}



/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 6.25rem;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 6.25rem;
    }

    body {
        height: calc(100vh - 7.25rem);
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    /*---------------------------------------------------------------------------------error pages*/

    .error-message {
        margin: auto;
        text-align: center;
        justify-content: center;
    }

}