<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link mr-5">Home</a>
        
            <a href="{% url 'beats' %}" class="logo-font font-weight-bold nav-link mr-5">All Beats</a>
        

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="genre-link" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genres <small><i class="fas fa-arrow-down"></i></small>
            </a>
            <div class="dropdown-menu" aria-labelledby="genre-link">
                <a href="{% url 'beats' %}?genre=dance" class="dropdown-item">Dance</a>
                <a href="{% url 'beats' %}?genre=hip_hop" class="dropdown-item">Hip Hop</a>
                <a href="{% url 'beats' %}?genre=pop" class="dropdown-item">Pop</a>
                <a href="{% url 'beats' %}?genre=rnb" class="dropdown-item">RnB</a>
                <a href="{% url 'beats' %}?genre=piano_instrumentals" class="dropdown-item">Piano Instrumental</a>
                <a href="{% url 'beats' %}?genre=dance,hip_hop,pop,rnb,piano_instrumentals" class="dropdown-item">All Beats</a>
            </div>
        </li>
        <li>
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="genre-link" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile <small><i class="fas fa-arrow-down"></i></small>
            </a>
            <div class="dropdown-menu" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_beat' %}" class="dropdown-item">Beat Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <a href="{% url 'view_bag' %}" class="logo-font font-weight-bold nav-link mr-5">Beat Bag</a>
        
        
    </ul>
</div>