<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-beats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Beats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-beats-link">
                <a href="{% url 'beats' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'beats' %}?sort=genre&direction=desc" class="dropdown-item ">By Genre</a>
                <a href="{% url 'beats' %}" class="dropdown-item">All Beats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="genre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beat Genres
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="genre-link">
                <a href="{% url 'beats' %}?genre=dance" class="dropdown-item">Dance</a>
                <a href="{% url 'beats' %}?genre=hip_hop" class="dropdown-item">Hip Hop</a>
                <a href="{% url 'beats' %}?genre=pop" class="dropdown-item">Pop</a>
                <a href="{% url 'beats' %}?genre=rnb" class="dropdown-item">RnB</a>
                <a href="{% url 'beats' %}?genre=piano_instrumentals" class="dropdown-item">Piano Instrumental</a>
                <a href="{% url 'beats' %}?genre=dance,hip_hop,pop,rnb,piano_instrumentals" class="dropdown-item">All Beats</a>
            </div>
        </li>
    </ul>
</div>