{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if beat.image %}
                        <a href="{{ beat.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ beat.image.url }}" alt="{{ beat.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ beat.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="beat-details-container mb-5 mt-md-5">
                    <div class="card-body pb-0">
                        <audio src="{{ beat.file.url }}" class="mb-0" controls></audio>
                    </div>
                    <a href="{{ beat.file.url }}" download="{{ beat.file.url }}">Download</a>
                    <button class="btn"><i class="fa fa-download"></i> Download</button>
                    <p class="mb-0">{{ beat.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ beat.price }}</p>
                    <p class="mt-3">{{ beat.description }}</p>
                    {% if beat.genre %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'beats' %}?genre={{ beat.genre.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ beat.genre.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_beat' beat.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_beat' beat.id %}" 
                            onclick="if (!confirm('Are you sure you want to DELETE this beat?')) { return false }">Delete</a>
                        </small>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_bag' beat.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ beat.id }}" id="decrement-qty_{{ beat.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" name="quantity" value="1"
                                         min="1" max="1" data-item_id="{{ beat.id }}" id="id_qty_{{ beat.id }}">
                                         <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ beat.id }}" id="increment-qty_{{ beat.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'beats' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="player">
	    <canvas></canvas>
		<div class="song">
			<div class="artist">FOB</div>
			<div class="name">{{ beat.name }}</div>
            <div class="beat">{{ beat.file.url }}</div>
		</div>
		<div class="playarea">
			<div class="prevSong"></div>
			<div class="play"></div>
			<div class="pause"></div>
			<div class="nextSong"></div>
		</div>
		<div class="soundControl"></div>
		<div class="time">00:00</div>
	</div>
    -->
   
{% endblock %}

{% block postloadjs %}
    <!-- <script src="{% static 'beats/js/player_element.js' %}"></script> -->
{{ block.super }}
{% include 'beats/includes/quantity_input_script.html' %}
{% endblock %}