{% extends "base.html" %}
{% load static %}

{% block page_header %}
    
{% endblock %}

{% block content %}

<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-5 mb-4">
                <h2 class="page_headers"><strong>{{ beat.name }}</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container beat-detail">
                    {% if beat.image %}
                        <a href="{{ beat.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ beat.image.url }}" alt="{{ beat.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ beat.name }}">
                        </a>
                    {% endif %}
                    
                </div>
                <div class="card-body audio-detail">
                    <audio src="{{ beat.file.url }}" class="mb-0" controls controlsList="nodownload"></audio>
                </div>
            </div>
            <!-------------------------------------------------------------------------------------Beat info col-->
            <div class="col-12 col-md-6 col-lg-4 beat-info">
                <div class="beat-details-container mb-3 mt-3">
                    <div class="beat-price">
                        <p class="mb-1">€{{ beat.price }}</p>
                        <p>{{ beat.description }}</p>
                    </div>
                    {% if beat.genre %}
                    <div class="genre-btn">
                            <a href="{% url 'beats' %}?genre={{ beat.genre.name }}" class="btn btn-primary beat-genre-btt text-uppercase">
                                <i class="fas fa-solid fa-headphones"></i> {{ beat.genre.friendly_name }}
                            </a>
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        <a href="#add-review" class="btn btn-success btn-sm">Review this beat <small><i class="fas fa-chevron-down"></i></small></a>
                    </div>
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_beat' beat.id %}">Edit</a> 
                            <a class="text-danger" href="{% url 'delete_beat' beat.id %}" 
                            onclick="if (!confirm('Are you sure you want to DELETE this beat?')) { return false }">Delete</a>
                        </small>
                    {% endif %}
                </div>
                <form class="form" action="{% url 'add_to_bag' beat.id %}" method="POST">
                    {% csrf_token %}
                    
                </form>
            </div>
            <!-------------------------------------------------------------------------------------Placeholder code for when FOB sells merchandise-->
            <div class="row shop-options mt-3 mb-5">
                <form class="form" action="{% url 'add_to_bag' beat.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="beat-qty">
                                <div class="form-group w-10">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="1" data-item_id="{{ beat.id }}" id="id_qty_{{ beat.id }}">
                                </div>
                            </div>
                        </div>
                        <!-------------------------------------------------------------------------------------Add to bag-->
                        <div>
                            <a href="{% url 'beats' %}" class="btn btn-secondary">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">More beats</span>
                            </a>
                            <input type="submit" class="btn btn-primary text-uppercase add-bag-btt" value="Add to Bag">
                        
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                </form>
            </div>
        </div>
        <hr class="beat-review-hr">
        <!-------------------------------------------------------------------------------------User review list-->
        <div class="row review-add mt-5">
            <div class="col-12 col-md-6">
                    <h4 class="review-header">
                        <strong>User Reviews</strong>
                    </h4>
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="card">
                            <div class="card-body review-card mt-3 mb-3">
                                <h5 class="card-title"><i class="fas fa-solid fa-user"></i> <strong>{{ review.user }}</strong></h5>
                                <p class="card-text">{{ review.comment }}</p>
                    
                                {% if request.user == review.user %}
                                    <a href="{% url 'edit_review' beat.id review.id %}" class="btn btn-primary btn-sm">Edit</a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'delete_review' beat.id review.id %}" 
                                    onclick="if (!confirm('Are you sure you want to DELETE this review?')) { return false }">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <p style="text-align: center;">Be the first to review this beat</p>
                {% endif %}
            </div>
        </div>
        <!-------------------------------------------------------------------------------------Beat review input-->

        <div class="row review-add mt-5">
            <div class="col-12 col-md-6">
                <div class="">
                    <h4 id="add-review">
                        Add a Review
                    </h4>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="review-form">
                        <form method="POST" action="{% url 'add_review' beat.id %}" class="form mb-2" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="text-right mb-4 mt-4">
                                <button class="btn btn-primary add-bag-btt rounded-2" type="submit">Post Review</button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="mb-5">
                        <p>To write a review, you need to <a href="{% url 'account_signup' %}">Register</a> 
                            an acount or <a href="{% url 'account_login' %}">Login</a>.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="btt-button">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
{% endblock %}